
.add-game-container {

    border-radius: 6.4478rem;
    display: flex;
    width: 100%;
    border: none;
    flex-direction: column;
    align-items: start;
    height: 102.9709rem;
    
  
    .game-rectangle {
      background-color: #ffffff;
      border-radius: 1.9666rem;
      height: 99.1023rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 39.3959rem;
    }
    .game-line {
      background-color: #bdbdbd;
      height: 0.0645rem;
      left: 0.129rem;
      position: absolute;
      top: 4.5779rem;
      width: 100%;
    }
    .game-clear-icon {
      height: 0.9672rem;
      left: 2.3212rem;
      object-fit: contain;
      position: absolute;
      top: 1.9343rem;
      vertical-align: top;
      width: 0.9672rem;
    }
    .add-game {
      color: #828282;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.2896rem;
      font-weight: 700;
      height: 1.6rem;
      left: 14.6364rem;
      line-height: 1.1725;
      position: absolute;
      top: 1.6764rem;
      white-space: nowrap;
      width: 10.2rem;
    }
    .game-id {
      height: 2rem;
      left: 3.2238rem;
      object-fit: contain;
      position: absolute;
      top: 8.606rem;
      vertical-align: top;
      width: 32.7547rem;
    }
    .title-bar {
      background-color: #ffffff;
      font-size: 1.3rem;
      font-family: Roboto, 'Source Sans Pro';
      border: solid 0.0645rem #c2c2c2;
      border-radius: 25.7911rem;
      box-sizing: border-box;
      height: 4.2227rem;
      left: 2.2884rem;
      padding: 0rem 0.06rem 0.78rem 2.306rem;
      position: relative;
      top: 10.4342rem;
      width: 31.981rem;
      .title-label {
        color: #4f4f4f;
        font-size: 1.076rem;
        font-weight: 400;
        line-height: 0.1725;
        margin-bottom:0.5rem;
        white-space: nowrap;
      }
      .title-input{
        outline:none;
        font-size: 1.3rem;
        -webkit-box-shadow: 0 0 0 30px white inset;
  
      }
  
    }
    .group-51-kbU {
      height: 9.9432rem;
      left: 3.2238rem;
      position: absolute;
      top: 14.2496rem;
      width: 31.981rem;
  
      .game-description-frame {
        height: 2.5000rem;
        margin-bottom: 1.5697rem;
        position: relative;
        width: 11rem;
  
        .description {
          color: #4f4f4f;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 0.9721rem;
          font-weight: 400;
          height: 1.2rem;
          left: 0;
          line-height: 1.1725;
          position: absolute;
          top: 4.75rem;
          white-space: nowrap;
          width: 6.1rem;
        }

      }
    }

    .game-info {
        align-items: flex-start;
        column-gap: 1.0961rem;
        display: flex;
        height: 6.0101rem;
        width: 100%;
  
        .auto-group-xevv-umC {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          width: 9.9296rem;
  
  
            .frame-15-gSW {
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 0.9539rem;
              font-weight: 400;
              height: 2.3308rem;
              line-height: 1.1725;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          .price-WAe {
            top: 6rem;
            background-color: #ffffff;
            cursor:pointer;
            border: solid 0.0452rem #c2c2c2;
            border-radius: 18.093rem;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 2.457rem;
            overflow: hidden;
            padding: 0.678rem 3.565rem 0rem 3.565rem;
            position: relative;
            width: 100%;
  
            .frame-15-dWA {
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 0.9539rem;
              font-weight: 400;
              height: 2.3308rem;
              line-height: 1.1725;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
        }
        .auto-group-m8ww-hF8 {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          width: 9.9296rem;
  
          .price-EVx {
            top: 6rem;
            cursor:pointer;
            background-color: #ffffff;
            border: solid 0.0452rem #c2c2c2;
            border-radius: 18.093rem;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 2.457rem;
            margin-bottom: 1.0961rem;
            overflow: hidden;
            padding: 0.678rem 2.615rem 0rem 2.615rem;
            position: relative;
            width: 100%;
  
            .frame-15-wQN {
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 0.9539rem;
              font-weight: 400;
              height: 2.3308rem;
              line-height: 1.1725;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
          .price-ZAr {
            top: 6rem;
            cursor:pointer;
            background-color: #ffffff;
            border: solid 0.0452rem #c2c2c2;
            border-radius: 18.093rem;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 2.457rem;
            overflow: hidden;
            padding: 0.678rem 2.815rem 0rem 2.815rem;
            position: relative;
            width: 100%;
  
            .frame-15-3ri {
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 0.9539rem;
              font-weight: 400;
              height: 2.3308rem;
              line-height: 1.1725;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
        }
        .price-K3Y {
          top: 6rem;
          cursor:pointer;
          background-color: #ffffff;
          border: solid 0.0452rem #c2c2c2;
          border-radius: 18.093rem;
          box-sizing: border-box;
          flex-shrink: 0;
          height: 2.457rem;
          overflow: hidden;
          padding: 0.678rem 3.515rem 0rem 3.515rem;
          position: relative;
          width: 9.9296rem;
  
          .frame-15-Pp6 {
            color: #4f4f4f;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 0.9539rem;
            font-weight: 400;
            height: 2.3308rem;
            line-height: 1.1725;
            text-align: center;
            white-space: nowrap;
            width: 100%;
          }
        }
      }
    
    .search-bar-eGA {
        background-color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        border: solid 0.0645rem #c2c2c2;
        border-radius: 1.2896rem;
        box-sizing: border-box;
        height: 13.7338rem;
        width: 31.9165rem;
        position: relative;
        top: 30.5625rem;
        left: 3.2884rem;
        padding: 1.2896rem 1.9988rem;
    }
    
    .search-bar-3LE {
      cursor:pointer;
      align-items: center;
      background-color: #ffffff;
      border: solid 0.0645rem #c2c2c2;
      border-radius: 1.2896rem;
      box-sizing: border-box;
      display: flex;
      height: 5.9964rem;
      left: 3.2884rem;
      padding: 1.612rem 9.162rem 1.58rem 10.188rem;
      position: relative;
      top: 31.6502rem;
      width: 31.9165rem;
  
      .upload-photos-t5x {
        cursor: pointer;
        color: #4f4f4f;
        flex-shrink: 0;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 0.9721rem;
        font-weight: 400;
        line-height: 1.1725;
        margin: 0.072rem 0.886rem 0rem 0rem;
        white-space: nowrap;
      }
      .group-52-MVL {
        border-radius: 0.3224rem;
        flex-shrink: 0;
        height: 2.8048rem;
        object-fit: contain;
        vertical-align: top;
        width: 5.2812rem;
      }
    }
    .uploads{
      align-items: center;
      background-color: #ffffff;
      border: solid 0.0645rem #c2c2c2;
      border-radius: 1.2896rem;
      box-sizing: border-box;
      display: flex;
      height: 2.9964rem;
      left: 4.2884rem;
      margin-top:0.5rem;
      position: absolute;
      top: 53.6502rem;
      width: 11.9165rem;
      .view-photos {
        color: #4f4f4f;
        flex-shrink: 0;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 0.9721rem;
        font-weight: 400;
        line-height: 1.1725;
        margin: 0.072rem 2.886rem 0rem 3.3rem;
        white-space: nowrap;
      }
    }
    .downloads{
      align-items: center;
      background-color: #ffffff;
      border: solid 0.0645rem #c2c2c2;
      border-radius: 1.2896rem;
      box-sizing: border-box;
      display: flex;
      height: 2.9964rem;
      left: 23.2884rem;
      position: absolute;
      top: 53.6502rem;
      width: 11.9165rem;
      .download-photos {
        color: #4f4f4f;
        flex-shrink: 0;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 0.9721rem;
        font-weight: 400;
        line-height: 1.1725;
        margin: 0.072rem 2.886rem 0rem 3.3rem;
        white-space: nowrap;
      }
    }
    .group-53-1Zt {
      height: 8.0089rem;
      left: 3.1595rem;
      position: absolute;
      top: 57.581rem;
      width: 29.1439rem;
  
      .of-beds-hxW {
        color: #4f4f4f;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 0.9721rem;
        font-weight: 400;
        line-height: 1.1725;
        margin: 0rem 0rem 1.379rem 0.129rem;
        white-space: nowrap;
      }
      .frame-53-CeN {
        align-items: center;
        display: flex;
        height: 5.4298rem;
        width: 100%;
  
        .auto-group-2g4a-8Y2 {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 0.5158rem;
          width: 5.4161rem;
  
          .price-TaJ {
            cursor:pointer;
            background-color: #ffffff;
            border: solid 0.0452rem #c2c2c2;
            border-radius: 18.093rem;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 2.457rem;
            margin-bottom: 0.5158rem;
            overflow: hidden;
            padding: 0.678rem 1.529rem 0rem 1.487rem;
            position: relative;
            width: 100%;
  
            .frame-15-NSN {
              box-sizing: border-box;
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 0.9539rem;
              font-weight: 400;
              height: 2.3308rem;
              line-height: 1.1725;
              padding: 0rem 0.879rem 0rem 0.921rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
          .price-DSz {
            cursor:pointer;
            background-color: #ffffff;
            border: solid 0.0452rem #c2c2c2;
            border-radius: 18.093rem;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 2.457rem;
            overflow: hidden;
            padding: 0.678rem 1.529rem 0rem 1.487rem;
            position: relative;
            width: 100%;
  
            .frame-15-JUS {
              box-sizing: border-box;
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 0.9539rem;
              font-weight: 400;
              height: 2.3308rem;
              line-height: 1.1725;
              padding: 0rem 0.879rem 0rem 0.921rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
        }
        .auto-group-kkpi-8iN {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 0.5158rem;
          width: 5.4161rem;
  
          .price-ewc {
            cursor:pointer;
            background-color: #ffffff;
            border: solid 0.0452rem #c2c2c2;
            border-radius: 18.093rem;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 2.457rem;
            margin-bottom: 0.5158rem;
            overflow: hidden;
            padding: 0.678rem 1.529rem 0rem 1.487rem;
            position: relative;
            width: 100%;
  
            .frame-15-n2E {
              box-sizing: border-box;
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 0.9539rem;
              font-weight: 400;
              height: 2.3308rem;
              line-height: 1.1725;
              padding: 0rem 0.879rem 0rem 0.921rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
          .price-d2r {
            cursor:pointer;
            background-color: #ffffff;
            border: solid 0.0452rem #c2c2c2;
            border-radius: 18.093rem;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 2.457rem;
            overflow: hidden;
            padding: 0.678rem 1.529rem 0rem 1.487rem;
            position: relative;
            width: 100%;
  
            .frame-15-ktA {
              box-sizing: border-box;
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 0.9539rem;
              font-weight: 400;
              height: 2.3308rem;
              line-height: 1.1725;
              padding: 0rem 0.879rem 0rem 0.921rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
        }
        .auto-group-ofwa-Zqc {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          width: 5.4161rem;
  
          .price-6qY {
            cursor:pointer;
            background-color: #ffffff;
            border: solid 0.0452rem #c2c2c2;
            border-radius: 18.093rem;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 2.457rem;
            margin-bottom: 0.5158rem;
            overflow: hidden;
            padding: 0.678rem 1.529rem 0rem 1.487rem;
            position: relative;
            width: 100%;
  
            .frame-15-1Si {
              box-sizing: border-box;
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 0.9539rem;
              font-weight: 400;
              height: 2.3308rem;
              line-height: 1.1725;
              padding: 0rem 0.879rem 0rem 0.921rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
          .price-ry8 {
            cursor:pointer;
            background-color: #ffffff;
            border: solid 0.0452rem #c2c2c2;
            border-radius: 18.093rem;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 2.457rem;
            overflow: hidden;
            padding: 0.678rem 1.529rem 0rem 1.487rem;
            position: relative;
            width: 100%;
  
            .frame-15-C1Q {
              box-sizing: border-box;
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 0.9539rem;
              font-weight: 400;
              height: 2.3308rem;
              line-height: 1.1725;
              padding: 0rem 0.629rem 0rem 0.671rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
        }
        .auto-group-yxyt-FkN {
          align-items: flex-start;
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          height: 100%;
          padding-left: 0.5159rem;
  
          .price-AcS {
            cursor:pointer;
            background-color: #ffffff;
            border: solid 0.0452rem #c2c2c2;
            border-radius: 18.093rem;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 2.457rem;
            margin-right: 0.5158rem;
            overflow: hidden;
            padding: 0.678rem 1.529rem 0rem 1.487rem;
            position: relative;
            width: 5.4161rem;
  
            .frame-15-qCn {
              box-sizing: border-box;
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 0.9539rem;
              font-weight: 400;
              height: 2.3308rem;
              line-height: 1.1725;
              padding: 0rem 0.879rem 0rem 0.921rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
          .price-s9U {
            cursor:pointer;
            background-color: #ffffff;
            border: solid 0.0452rem #c2c2c2;
            border-radius: 18.093rem;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 2.457rem;
            overflow: hidden;
            padding: 0.678rem 1.529rem 0rem 1.487rem;
            position: relative;
            width: 5.4161rem;
  
            .frame-15-yCW {
              box-sizing: border-box;
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 0.9539rem;
              font-weight: 400;
              height: 2.3308rem;
              line-height: 1.1725;
              padding: 0rem 0.879rem 0rem 0.921rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
        }
      }
    }
    .group-54-19C {
      height: 8.0089rem;
      left: 3.1595rem;
      position: absolute;
      top: 67.5106rem;
      width: 29.1439rem;
  
      .of-baths-Je6 {
        color: #4f4f4f;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 0.9721rem;
        font-weight: 400;
        line-height: 1.1725;
        margin: 0rem 0rem 1.379rem 0.129rem;
        white-space: nowrap;
      }
      .frame-53-xCr {
        align-items: center;
        display: flex;
        height: 5.4298rem;
        width: 100%;
  
        .auto-group-kr2w-5HU {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 0.5158rem;
          width: 5.4161rem;
  
          .price-oUN {
            cursor:pointer;
            background-color: #ffffff;
            border: solid 0.0452rem #c2c2c2;
            border-radius: 18.093rem;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 2.457rem;
            margin-bottom: 0.5158rem;
            overflow: hidden;
            padding: 0.678rem 1.529rem 0rem 1.487rem;
            position: relative;
            width: 100%;
  
            .frame-15-5wg {
              box-sizing: border-box;
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 0.9539rem;
              font-weight: 400;
              height: 2.3308rem;
              line-height: 1.1725;
              padding: 0rem 0.879rem 0rem 0.921rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
          .price-vBc {
            cursor:pointer;
            background-color: #ffffff;
            border: solid 0.0452rem #c2c2c2;
            border-radius: 18.093rem;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 2.457rem;
            overflow: hidden;
            padding: 0.678rem 1.529rem 0rem 1.487rem;
            position: relative;
            width: 100%;
  
            .frame-15-Sfk {
              box-sizing: border-box;
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 0.9539rem;
              font-weight: 400;
              height: 2.3308rem;
              line-height: 1.1725;
              padding: 0rem 0.879rem 0rem 0.921rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
        }
        .auto-group-bltu-mjx {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 0.5158rem;
          width: 5.4161rem;
  
          .price-Tsg {
            cursor:pointer;
            background-color: #ffffff;
            border: solid 0.0452rem #c2c2c2;
            border-radius: 18.093rem;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 2.457rem;
            margin-bottom: 0.5158rem;
            overflow: hidden;
            padding: 0.678rem 1.529rem 0rem 1.487rem;
            position: relative;
            width: 100%;
  
            .frame-15-XsY {
              box-sizing: border-box;
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 0.9539rem;
              font-weight: 400;
              height: 2.3308rem;
              line-height: 1.1725;
              padding: 0rem 0.879rem 0rem 0.921rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
          .price-dJJ {
            cursor:pointer;
            background-color: #ffffff;
            border: solid 0.0452rem #c2c2c2;
            border-radius: 18.093rem;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 2.457rem;
            overflow: hidden;
            padding: 0.678rem 1.529rem 0rem 1.487rem;
            position: relative;
            width: 100%;
  
            .frame-15-JfL {
              box-sizing: border-box;
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 0.9539rem;
              font-weight: 400;
              height: 2.3308rem;
              line-height: 1.1725;
              padding: 0rem 0.879rem 0rem 0.921rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
        }
        .auto-group-oedg-HGN {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          width: 5.4161rem;
  
          .price-ZUn {
            cursor:pointer;
            background-color: #ffffff;
            border: solid 0.0452rem #c2c2c2;
            border-radius: 18.093rem;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 2.457rem;
            margin-bottom: 0.5158rem;
            overflow: hidden;
            padding: 0.678rem 1.529rem 0rem 1.487rem;
            position: relative;
            width: 100%;
  
            .frame-15-QVQ {
              box-sizing: border-box;
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 0.9539rem;
              font-weight: 400;
              height: 2.3308rem;
              line-height: 1.1725;
              padding: 0rem 0.879rem 0rem 0.921rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
          .price-bZt {
            cursor:pointer;
            background-color: #ffffff;
            border: solid 0.0452rem #c2c2c2;
            border-radius: 18.093rem;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 2.457rem;
            overflow: hidden;
            padding: 0.678rem 1.529rem 0rem 1.487rem;
            position: relative;
            width: 100%;
  
            .frame-15-L1g {
              box-sizing: border-box;
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 0.9539rem;
              font-weight: 400;
              height: 2.3308rem;
              line-height: 1.1725;
              padding: 0rem 0.629rem 0rem 0.671rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
        }
        .auto-group-f88s-n8a {
          align-items: flex-start;
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          height: 100%;
          padding-left: 0.5159rem;
  
          .price-iY2 {
            cursor:pointer;
            background-color: #ffffff;
            border: solid 0.0452rem #c2c2c2;
            border-radius: 18.093rem;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 2.457rem;
            margin-right: 0.5158rem;
            overflow: hidden;
            padding: 0.678rem 1.529rem 0rem 1.487rem;
            position: relative;
            width: 5.4161rem;
  
            .frame-15-qMk {
              box-sizing: border-box;
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 0.9539rem;
              font-weight: 400;
              height: 2.3308rem;
              line-height: 1.1725;
              padding: 0rem 0.879rem 0rem 0.921rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
          .price-5Wz {
            cursor:pointer;
            background-color: #ffffff;
            border: solid 0.0452rem #c2c2c2;
            border-radius: 18.093rem;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 2.457rem;
            overflow: hidden;
            padding: 0.678rem 1.529rem 0rem 1.487rem;
            position: relative;
            width: 5.4161rem;
  
            .frame-15-QJN {
              box-sizing: border-box;
              color: #4f4f4f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 0.9539rem;
              font-weight: 400;
              height: 2.3308rem;
              line-height: 1.1725;
              padding: 0rem 0.879rem 0rem 0.921rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
        }
      }
    }
    .frame-19-rRG {
      height: 2.3635rem;
      left: 3.3528rem;
      position: absolute;
      top: 77.3428rem;
      width: 7.3rem;
  
      .additional-filters-n42 {
        color: #4f4f4f;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 0.9721rem;
        font-weight: 400;
        height: 1.2rem;
        left: 0;
        line-height: 1.1725;
        position: absolute;
        top: 0;
        white-space: nowrap;
        width: 7.3rem;
      }
      .utilities-more-HmU {
        color: #828282;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 0.9721rem;
        font-weight: 400;
        height: 1.2rem;
        left: 0;
        line-height: 1.1725;
        position: absolute;
        top: 1.1635rem;
        white-space: nowrap;
        width: 6.8rem;
      }
    }
    .frame-21-b1U {
      align-items: center;
      column-gap: 1.0961rem;
      display: flex;
      height: 2.457rem;
      left: 3.2884rem;
      position: absolute;
      top: 82.4694rem;
      width: 31.981rem;
  
      .price-6iv {
        cursor:pointer;
        background-color: #ffffff;
        border: solid 0.0452rem #c2c2c2;
        border-radius: 18.093rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 100%;
        overflow: hidden;
        padding: 0.678rem 3.365rem 0rem 3.365rem;
        position: relative;
        width: 9.9296rem;
  
        .frame-15-DoY {
          color: #4f4f4f;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 0.9539rem;
          font-weight: 400;
          height: 2.3308rem;
          line-height: 1.1725;
          text-align: center;
          white-space: nowrap;
          width: 100%;
        }
      }
      .price-VWA {
        cursor:pointer;
        background-color: #ffffff;
        border: solid 0.0452rem #c2c2c2;
        border-radius: 18.093rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 100%;
        overflow: hidden;
        padding: 0.678rem 2.165rem 0rem 2.165rem;
        position: relative;
        width: 9.9296rem;
  
        .frame-15-Qt2 {
          color: #4f4f4f;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 0.9539rem;
          font-weight: 400;
          height: 2.3308rem;
          line-height: 1.1725;
          text-align: center;
          white-space: nowrap;
          width: 100%;
        }
      }
      .price-Ust {
        cursor:pointer;
        background-color: #ffffff;
        border: solid 0.0452rem #c2c2c2;
        border-radius: 18.093rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 100%;
        overflow: hidden;
        padding: 0.678rem 1.265rem 0rem 1.265rem;
        position: relative;
        width: 9.9296rem;
  
        .frame-15-1cv {
          color: #4f4f4f;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 0.9539rem;
          font-weight: 400;
          height: 2.3308rem;
          line-height: 1.1725;
          text-align: center;
          white-space: nowrap;
          width: 100%;
        }
      }
    }
    .game-develop{
      color: #4f4f4f;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 0.9721rem;
      font-weight: 400;
      height: 1.2rem;
      left: 1.8rem;
      position: relative;
      top: 60rem;
      white-space: nowrap;
      width: 5.6rem;
    }
    .search-bar-HqL {
      background-color: #ffffff;
      font-size: 1.3rem;
      font-family: Roboto, 'Source Sans Pro';
      border: solid 0.0645rem #c2c2c2;
      border-radius: 25.7911rem;
      box-sizing: border-box;
      height: 5.2227rem;
      left: 2.2884rem;
      padding: 1.29rem 3.288rem 1.633rem 3.288rem;
      position: relative;
      top: 60.4342rem;
      width: 31.981rem;
  
  
    }
    .submit-hXg {
      align-items: center;
      cursor:pointer;
      background-color: #4f4f4f;
      border-radius: 25.7911rem;
      color: #ffffff;
      display: flex;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.3669rem;
      font-weight: 400;
      height: 4.3845rem;
      justify-content: center;
      left: 3.1266rem;
      line-height: 1.1725;
      position: relative;
      top: 62.1715rem;
      white-space: nowrap;
      width: 31.0782rem;
    }
    .error-p1{
  
      align-items: center;
      display: flex;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.3669rem;
      font-weight: 800;
      height: 0.3845rem;
      justify-content: center;
      left: 6.5266rem;
      line-height: 1.1725;
      position: relative;
      white-space: nowrap;
      color: red;
      top: 64rem;
    }
  }
  .modal-button{
    background-color: #ffffff;
    border: solid 0.0452rem #c2c2c2;
    border-radius: 18.093rem;
    box-sizing: border-box;
    flex-shrink: 0;
    height: 2.457rem;
    margin-bottom: 0.5158rem;
    overflow: hidden;
    padding: 0.678rem 1.529rem 0rem 1.487rem;
    position: relative;
    width: 50%;
  }
  .modal-icon{
    background-color: #ffffff;
    flex-shrink: 0;
    height: 1.857rem;
    margin-bottom: 0.5158rem;
    overflow: hidden;
    padding: 0rem 0rem 0rem 0rem;
    position: relative;
    width: 5%;
  }
  .modal-list{
    list-style-type:none;
    padding: 0;
    display:flex;
    flex-wrap:wrap;
  }
  .modal-image{
    font-family: Roboto, 'Source Sans Pro';
    margin-Right: 10px;
    margin-bottom:10px;
  }
  textarea{
    resize:none;
    overflow:hidden;
    overflow-wrap:break-word;
  }
  