.historyAddButton {
    background-color: rgb(84, 144, 233);
    text-align: center;
    max-width: 200px;
    border-radius: 12px;
    
    /* padding: 2px 0px; */
}

.historyAddButton:hover {
    background-color: white;
    color: rgb(84, 144, 233);
    text-align: center;
    max-width: 200px;
    border-radius: 12px;
    
    /* padding: 2px 0px; */
}
