.game-card-P14 {
    align-items: flex-start;
    background-color: #ffffff;
    border: solid 0.0483rem #bdbdbd;
    border-radius: 0.9665rem;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    height: 100%;
    width: 600px;
    overflow: hidden;
    padding-right: 3.495rem;
    position: relative;
  }