.header {
  flex-direction: column;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);

  .auto-group {
    flex-shrink: 0;
    height: 0.4rem;
    margin: 0rem -43rem 1rem 0rem;
    position: relative;
    width: calc(100% - 0.012rem);

    .group-1 {
      height: 1.1rem;
      position: absolute;
      top: 0;
      width: 30.7rem;
    }
    .frame-16 {
      align-items: center;
      display: flex;
      height: 4.1rem;
      left: 0;
      position: absolute;
      top: 1.8rem;
      padding-top: 100px;
      .banner {
        align-items: flex-end;
        display: flex;
        flex-shrink: 0;
        height: calc(100% - 0);
        margin: 0.437rem 3.9rem 0.411rem 0.4rem;
      }
    }
  }
}

.group-6 {
  padding-top: 45px;
  padding-bottom: 45px;
  scale: 0.7;
}
