.register {
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 0.7rem;
  overflow: hidden;
  padding: 0.7rem 0rem 0.5rem 0rem;
  position: relative;
  width: 100%;

  .register-gFU {
    color: #2e2c2c;
    flex-shrink: 0;
    font-family: Roboto, "Source Sans Pro";
    margin-bottom: 5.3rem;
    font-size: 2.9191rem;
    font-weight: 700;
    line-height: 0.1725;
    white-space: nowrap;
  }
  .frame-49-a5x {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    row-gap: 1.1rem;
    width: 30.8rem;
    padding: 1rem 0rem 0.5rem 0rem;

    .search-bar-reg-1 {
      background-color: #ffffff;
      border: solid 0.1rem #c2c2c2;
      border-radius: 40rem;
      font-size: 1.1076rem;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 4.1rem;

      padding: 0.8rem 1.5rem 4.5rem 2.5rem;
      margin-bottom: 1.5rem;
      width: 90%;

    }
    .search-bar-reg-2 {
      background-color: #ffffff;
      border: solid 0.1rem #c2c2c2;
      border-radius: 40rem;
      font-size: 1.1076rem;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 4.1rem;

      padding: 0.8rem 1.5rem 4.5rem 2.5rem;
      margin-bottom: 1.5rem;
      width: 90%;

    }
    .search-bar-reg-3 {
      background-color: #ffffff;
      border: solid 0.1rem #c2c2c2;
      border-radius: 40rem;
      font-size: 1.1076rem;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 4.1rem;

      padding: 0.8rem 1.5rem 4.5rem 2.5rem;
      margin-bottom: 1.5rem;
      width: 90%;

    }
    .search-bar-reg-4 {
      background-color: #ffffff;
      border: solid 0.1rem #c2c2c2;
      border-radius: 40rem;
      font-size: 1.1076rem;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 4.1rem;

      padding: 0.8rem 1.5rem 4.5rem 2.5rem;
      margin-bottom: 1.5rem;
      width: 90%;

    }
    .search-bar-reg-5 {
      background-color: #ffffff;
      border: solid 0.1rem #c2c2c2;
      border-radius: 40rem;
      font-size: 1.1076rem;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 4.1rem;

      padding: 0.8rem 1.5rem 4.5rem 2.5rem;
      margin-bottom: 1.5rem;
      width: 90%;

    }
    .search-bar-reg-6 {
      background-color: #ffffff;
      border: solid 0.1rem #c2c2c2;
      border-radius: 40rem;
      font-size: 1.1076rem;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 4.1rem;

      padding: 0.8rem 1.5rem 4.5rem 2.5rem;
      margin-bottom: 1.5rem;
      width: 90%;

    }
    .inputfields {
      color: #4f4f4f;
      font-family: Roboto, "Source Sans Pro";
      font-size: 1.076rem;
      font-weight: 400;
      line-height: 0.1725;
      margin-bottom:0.5rem;
      white-space: nowrap;
    }
    .email-input{
      border: none;
      outline:none;
      font-size: 1.3rem;
      -webkit-box-shadow: 0 0 0 30px white inset;

    }
  }
  
  .already-have-account {
    align-items: baseline;
    color: #828282;
    display: flex;
    flex-shrink: 0;
    font-family: Roboto, "Source Sans Pro";
    font-size: 1.5076rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.1725;
    margin-left: 0.7rem;
    white-space: nowrap;

  }
  .loginlink{
    color: #828282;
    font-family: Roboto, "Source Sans Pro";
    font-size: 1.5076rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1725;
    text-decoration-line: underline;
  }
  .submit-cLi {
    align-items: center;
    background-color: rgb(173, 201, 253);
    border-radius: 40rem;
    color: #ffffff;
    display: flex;
    flex-shrink: 0;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 2.12rem;
    font-weight: 400;
    height: 4.8rem;
    justify-content: center;
    line-height: 1.1725;
    margin-left: 1rem;
    white-space: nowrap;
    margin-top: 2.5rem;
    width: 24.8rem;
  }
}
.error-register{
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color:red;
  font-weight:bold;
}