.upperDetails {
    background: linear-gradient(to bottom, rgb(67, 66, 99), rgb(22, 22, 22));
    display: flex;
    flex-direction: row;
    color: rgb(240, 233, 233);
    min-height: 400px;
    max-height: 400px;
    
}

.gameImage {
    margin: 2% 2% 2% 7%;
    border-radius: 12px;
}

.upperTexts {
    display: flex;
    
    flex-direction: column;
    /* justify-content: space-evenly; */
}

.gameTitle {
    font-size: 6rem;
    margin: 10% 0% 0% 0%;
    padding: 0px;
}

.gameGenre {
    font-size: 3em;
    margin: 1% 0% 0% 0%;
    padding: 0px;
}

.ageRest {
    font-size: 1.5em;
    margin: 3% 0% 0% 0%;
    padding: 0px;
}

.ratingContainer {
    background-color: rgb(84, 144, 233);
    margin-left: auto;
    margin-right: 7%;
    padding: 5% 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.gameRating {
    border-radius: 12px;
    font-size: 8em;
    padding: 0px;
    margin: 0px;
}

.gameRatingTit {
    font-size: 1.25em;
    margin-top: auto;
    padding: 0px;
    margin: 0px;
}

@media screen and (max-width: 1010px) {
    .gameTitle {
        font-size: 4rem;
    }
    
    .gameGenre {
        font-size: 2em;
    }
    
    .ageRest {
        font-size: 1em;
    }
  }

.lowerDetails {
    display: flex;
    flex-direction: row;
}

.leftPane {
    flex: 5;
    margin: 0px;
    padding: 0% 3% 0% 7%;
}

.leftPane h3 {
    font-size: 2.5em;
}

.rightPane {
    background-color: rgb(192, 214, 247);
    margin: 2%;
    padding-bottom: 3%;
    border-radius: 12px;
    flex: 3;
}

.rightPaneTit {
    text-align: center;
    font-size: 2em;
}

.releaseDate, .developerID, .publisherID {
    padding: 0% 0% 0% 5%;
    font-size: 1.35em;
    display: flex;
    flex-direction: row;
}

.releaseDateBold, .developerIDBold, .publisherIDBold {
    font-weight: bold;
}