.userProfileMain {
  display: flex;
  flex-direction: column;
}

.profilePane {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2.5%;

}

.profileDetails {

  display: flex;
  flex-direction: column;
}

.profileImageFile {
  width: 50%;
  border-radius: 50%;

}

.profile-name, .text {
  font-size: 2em;
  font-weight: bold;
}

.profile-birthday, .profile-email {
  font-size: 1.5em;

}


.edit-profile-container {
  font-weight: bold;
  background-color: rgb(84, 144, 233);
  border-radius: 12px;
  align-self: center;
  padding: 5%;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.edit-profile {
  font-size: 1.5em;
}

.edit-profile-container:hover {
  background-color: rgb(124, 128, 146);
}

.preferencesMainPane {
  display: flex;
  flex-direction: column;
}

.userGaming {
  display: flex;
  flex-direction: row;
}

.GamingHistory,.GamingPreferences  {
  flex: 1;
  padding: 2%;
}

.GamingHistory h3, .GamingPreferences h3 {
  font-size: 3em;
}

.userPreferences {
  display: flex;
  flex-direction: row;
}

.userPreferences h3 {
  font-size: 2em;
  margin-left: 5%;
}

.adminDashboard h2 {
  font-size: 2em;
  flex-direction: row;
  margin-left: 400px;
}
