.wishlist-title{
    padding-left: 54%;
}

.wishlist-items {
    padding-top: 10%;
}

.wishlist-items {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 30%;
    padding: 0;
}

.game-icon {
    margin-bottom: 20px; /* Add margin to create spacing between game icons */
    padding: 10px;
    box-sizing: border-box;
}

.game-icon button {
display: block; /* Change button to block element */
margin-top: 10px; /* Add margin-top to create space between textarea and button */
padding: 8px 16px;
font-size: 16px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
}

.game-icon button:hover {
background-color: #0056b3;
}